<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />


    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Android_BookApp"
        tools:targetApi="31">

        <activity
            android:name=".user.profile.activity.LogOutActivity"
            android:exported="false" />

        <activity
            android:name=".user.profile.activity.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".user.profile.activity.SocialAccountsActivity"
            android:exported="false" />
        <activity
            android:name=".user.profile.activity.AddCardActivity"
            android:exported="false" />
        <activity
            android:name=".user.profile.activity.AddBankAccountActivity"
            android:exported="false" />

        <activity
            android:name=".user.profile.activity.EditAddressActivity"
            android:exported="false" />
        <activity
            android:name=".user.profile.activity.ProfileEditActivity"
            android:exported="false" />
        <activity
            android:name=".user.profile.activity.AccountSecurityActivity"
            android:exported="false" />
        <activity
            android:name=".user.profile.activity.BankAccountActivity"
            android:exported="false" />
        <activity
            android:name=".user.profile.activity.AddressActivity"
            android:exported="false" />
        <activity
            android:name=".user.profile.activity.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".user.profile.activity.HelpActivity"
            android:exported="false" />
        <activity
            android:name=".user.profile.activity.AboutActivity"
            android:exported="false" />
        <activity
            android:name=".user.profile.activity.PrivacyActivity"
            android:exported="false" />
        <activity
            android:name=".user.profile.activity.ReviewActivity"
            android:exported="false" />
        <activity
            android:name=".user.profile.activity.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".user.login.SignUp"
            android:exported="false" />
        <activity
            android:name=".user.login.Activate"
            android:exported="false" />
        <activity
            android:name=".user.login.ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".user.login.Login"
            android:exported="true">
        </activity>
        <activity android:name=".Admin.AdminHome"
            android:exported="true">
<!--                        <intent-filter>-->
<!--                            <action android:name="android.intent.action.MAIN" />-->

<!--                            <category android:name="android.intent.category.LAUNCHER" />-->
<!--                        </intent-filter>-->
        </activity>
        <activity android:name=".Admin.ManageOrder"
            android:exported="true">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity android:name=".Admin.ManageAllOrder"
            android:exported="false">
        </activity>

        <activity android:name=".user.cart_user.Activity.MainActivity"
            android:exported="true">
        </activity>
        <activity android:name=".user.cart_user.Activity.ReviewYourOrder"
            android:exported="false">
        </activity>
        <activity android:name=".user.cart_user.Activity.MyCart"
            android:exported="false">
        </activity>
        <activity android:name=".user.cart_user.Activity.DeliveryAddress"
            android:exported="false">
        </activity>
        <activity android:name=".user.cart_user.Activity.Payment"
            android:exported="false">
        </activity>
        <activity android:name=".user.cart_user.Activity.OrderSummary"
            android:exported="false">
        </activity>
        <activity android:name=".user.cart_user.Activity.DiscountsActivity"
            android:exported="false">
        </activity>
        <activity android:name=".user.home.Activity.BookActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".user.home.Activity.SearchActivity"
            android:exported="false">
        </activity>
        <activity android:name=".user.home.Activity.FantasyActivity"
            android:exported="false">
        </activity>
        <activity android:name=".user.home.Activity.LibraryActivity"
            android:exported="false">
        </activity>
        <activity android:name=".user.home.Activity.HomeActivity"
            android:exported="false">
        </activity>
        <activity android:name=".user.home.Activity.NumberActivity"
            android:exported="false">
        </activity>
        <activity android:name=".user.home.Activity.MainActivity"
            android:exported="false">
        </activity>
        <activity android:name=".user.profile.activity.ProfileActivity"
            android:exported="true">
<!--                                    <intent-filter>-->
<!--                                        <action android:name="android.intent.action.MAIN" />-->
<!--                                        <category android:name="android.intent.category.LAUNCHER" />-->
<!--                                    </intent-filter>-->
        </activity>
        <activity android:name=".Admin.ManageInventory.AddBookActivity"
            android:exported="true">

        </activity>
        <activity android:name=".Admin.ManageInventory.ManageInventoryActivity"
            android:exported="true">
<!--                                                <intent-filter>-->
<!--                                                    <action android:name="android.intent.action.MAIN" />-->
<!--                                                    <category android:name="android.intent.category.LAUNCHER" />-->
<!--                                                </intent-filter>-->
        </activity>

        <activity android:name=".Admin.ManageInventory.ProductDetailActivity"
            android:exported="false">
        </activity>

        <activity android:name=".Admin.ManageInventory.BulkUpdateActivity"
            android:exported="false">
        </activity>
        <activity android:name=".Admin.ManageInventory.ManageInventorDetailActivity"
            android:exported="false">
        </activity>
    </application>
</manifest>