<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Android_BookApp"
        android:usesCleartextTraffic="true">

        <activity android:name=".user.profile.activity.LogOutActivity" android:exported="false" />
        <activity android:name=".user.profile.activity.ChangePasswordActivity" android:exported="false" />
        <activity android:name=".user.profile.activity.SocialAccountsActivity" android:exported="false" />
        <activity android:name=".user.profile.activity.AddCardActivity" android:exported="false" />
        <activity android:name=".user.profile.activity.AddBankAccountActivity" android:exported="false" />
        <activity android:name=".user.profile.activity.EditAddressActivity" android:exported="false" />
        <activity android:name=".user.profile.activity.ProfileEditActivity" android:exported="false" />
        <activity android:name=".user.profile.activity.AccountSecurityActivity" android:exported="false" />
        <activity android:name=".user.profile.activity.BankAccountActivity" android:exported="false" />
        <activity android:name=".user.profile.activity.AddressActivity" android:exported="false" />
        <activity android:name=".user.profile.activity.EditProfileActivity" android:exported="false" />
        <activity android:name=".user.profile.activity.HelpActivity" android:exported="false" />
        <activity android:name=".user.profile.activity.AboutActivity" android:exported="false" />
        <activity android:name=".user.profile.activity.PrivacyActivity" android:exported="false" />
        <activity android:name=".user.profile.activity.ReviewActivity" android:exported="false" />
        <activity android:name=".user.profile.activity.NotificationActivity" android:exported="false" />
        <activity android:name=".user.login.SignUp" android:exported="false" />
        <activity android:name=".user.login.Activate" android:exported="false" />
        <activity android:name=".user.login.ForgotPassword" android:exported="false" />
        <activity android:name=".user.login.Login" android:exported="true" />
        <activity android:name=".user.cart_user.activity.MainActivity" android:exported="true" />
        <activity android:name=".user.cart_user.activity.ReviewYourOrder" android:exported="false" />
        <activity android:name=".user.cart_user.activity.MyCart" android:exported="false" />
        <activity android:name=".user.cart_user.activity.DeliveryAddress" android:exported="false" />
        <activity android:name=".user.cart_user.activity.Payment" android:exported="false" />
        <activity android:name=".user.cart_user.activity.OrderSummary" android:exported="false" />
        <activity android:name=".user.cart_user.activity.DiscountsActivity" android:exported="false" />
        <activity android:name=".api_google_map.GoogleMapActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".user.home.activity.SearchActivity" android:exported="false" />
        <activity android:name=".user.home.activity.FantasyActivity" android:exported="false" />
        <activity android:name=".user.home.activity.LibraryActivity" android:exported="false" />
        <activity android:name=".user.home.activity.BookActivity" android:exported="false" />
        <activity android:name=".user.home.activity.NumberActivity" android:exported="false" />
        <activity android:name=".user.home.activity.MainActivity" android:exported="false" />
        <activity android:name=".user.profile.activity.ProfileActivity" android:exported="false" />
        <activity android:name=".admin.Home" android:exported="false" />
        <activity android:name=".admin.order.activity.OrderList" android:exported="false" />
        <activity android:name=".admin.order.activity.OrderDetail" android:exported="false" />
        <activity android:name=".admin.manage_inventory.AddBookActivity" android:exported="true" />
        <activity android:name=".admin.manage_inventory.ManageInventoryActivity" android:exported="false" />
        <activity android:name=".admin.manage_inventory.ProductDetailActivity" android:exported="false" />
        <activity android:name=".admin.manage_inventory.BulkUpdateActivity" android:exported="false" />
        <activity android:name=".admin.manage_inventory.ManageInventorDetailActivity" android:exported="false" />
        <activity android:name=".user.bill.activity.MyBill" android:exported="false" />

        <!-- Meta data cho API Google map -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC9bUyVWJwCUCNB00NXlrzCLWLPfYXWlq0" />
    </application>
</manifest>
